@media (max-width: 320px) {

  html {
    background: url(../img/ricepaper2.png);
  }

  body {
    font-family: sans-serif;
    font-size: 14px;
    color:#111;
  }

  #container {
  border: 0;
  max-width: 320px;
  margin: 0;
  padding: 0.5em;
}

  header {
    font-weight: 400;
    font-size: 150%;
    text-align:center;
  }

  nav {
    display:none;
  }

  #description {
    display:block;
  }


  #hidden {
    display:block;
    text-align:center;
    font-size: 150%;
  }

  #hidden p a{
    color:#111;
  }

  #hidden-icons {
    text-align:center;
    padding:0;
    margin:0;
    display:inline;
    margin-left:20px;
  }


  #hidden-icons p {
    display:inline-block;
    font-size:125%;
    padding:15px;
  }

  #hidden-icons a {
    color:#111;
  }

  footer {
    display:none;
  }
}
