* {
  color:black;
  font-size: 12pt;
  font-family: "Georgia", serif;
}

@page {
  margin: 0.75in;
}

#label {
  display:none;
}

h1 {
  text-align:center;
  font-size: 24pt;
  margin-top:0;
}

nav,
footer {
  display: none;
}

aside {
  text-align:center;
}

address{
  font-style: normal;
}

aside p {
  display:none;
}

h2 {
  font-size: 18pt;
  line-height: 2.0;
  margin-bottom:0;
}

a {
  text-decoration: none;
}

a[href^="#top"] {
  display: none;
}

a[href^="http://"]:after,
a[href^="https://"]:after {
  content: " (" attr(href) ") ";
}

p {
  margin-top:0;
  margin-bottom:0;
}

p#hidden {
  margin: 0;
  display: block;
}
