@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);

html {
  background: url("../img/suit-mod.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #EEE;
}

header {
  font-weight: 700;
  font-size: 64px;
  text-align:center;
}

#container {
  margin: 0 auto;
  width: 960px;
  padding: 16px;
  overflow: auto;
  display: block;
}

nav {
  list-style:none;
  margin:15px;
  padding:0px;
  text-align:right;
  float:right;
}

nav li {
  display:inline;
  padding:25px;
  margin-right:0;
}


nav a {
  display:inline-block;
  padding:0;
  width:100px;
  text-align:center;
  text-decoration: none;
  color:#EEE;
}

p {
  font-size: 20px;
  text-align:center;
}

footer {
  position:absolute;
  right:0;
  left:0;
  bottom:0;
  list-style:none;
  text-align:center;
}

footer li{
  text-align:center;
  display:inline;
  padding-right: 100px;
}

footer li a {
  color:#EEE;
}

#about {
  margin: 0 auto;
  width: 960px;
  padding: 16px;
  overflow: auto;
  display: block;
}

#about section{
  background-color: #FFF;
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 960px;
  padding: 16px;
  overflow: auto;
  display: block;
  color: #000;
}

#about section h1 {
  text-align:center;
}

#about section p {
  text-align:left;
  font-size: 17px;

}

img {
  border: 1px solid #222;
  float: left;
  margin-right: 1em;
}

#code {
  margin: 0 auto;
  width: 960px;
  padding: 16px;
  overflow: auto;
  display: block;
}


#code header {
  text-align:center;
  font-size:42px;
}


#code section{
  background-color: #FFF;
  margin: 0 auto;
  border: 1px solid #ccc;
  width: 960px;
  padding: 16px;
  overflow: auto;
  display: block;
  color: #000;
}

#code section p {
  text-align:left;
}
